In [1]:
library(tidyverse)
library(repr)
library(datateachr)
library(digest)
library(infer)
library(gridExtra)
library(cowplot)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.1     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Warning message:
“package ‘infer’ was built under R version 4.0.2”

Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine



********************************************************

Note: As of version 1.0.0, cowplot does not change the

  default ggplot2 theme anymore. To recover the previous

  behavior, execute:
  theme_set(theme_cowplot())

********************************************************

In [3]:
crime_data <- read_csv("/home/jupyter/crimedata_csv_all_years.csv")

Parsed with column specification:
cols(
  TYPE = col_character(),
  YEAR = col_double(),
  MONTH = col_double(),
  DAY = col_double(),
  HOUR = col_double(),
  MINUTE = col_double(),
  HUNDRED_BLOCK = col_character(),
  NEIGHBOURHOOD = col_character(),
  X = col_double(),
  Y = col_double()
)

In [4]:
head(crime_data)

  TYPE                       YEAR MONTH DAY HOUR MINUTE HUNDRED_BLOCK
1 Break and Enter Commercial 2012 12    14   8   52     NA
2 Break and Enter Commercial 2019  3     7   2    6     10XX SITKA SQ
3 Break and Enter Commercial 2019  8    27   4   12     10XX ALBERNI ST
4 Break and Enter Commercial 2014  8     8   5   13     10XX ALBERNI ST
5 Break and Enter Commercial 2020  7    28  19   12     10XX ALBERNI ST
6 Break and Enter Commercial 2005 11    14   3    9     10XX ALBERNI ST
  NEIGHBOURHOOD X        Y
1 Oakridge      491285.0 5453433
2 Fairview      490613.0 5457110
3 West End      491007.8 5459174
4 West End      491015.9 5459166
5 West End      491015.9 5459166
6 West End      491021.4 5459161