In [63]:
library(tidyverse)
library(repr)
library(datateachr)
library(digest)
library(infer)
library(gridExtra)
library(cowplot)
library(caret)

In [64]:
crime_data <- read_csv("/home/jupyter/crimedata_csv_all_years.csv")

Parsed with column specification:
cols(
  TYPE = col_character(),
  YEAR = col_double(),
  MONTH = col_double(),
  DAY = col_double(),
  HOUR = col_double(),
  MINUTE = col_double(),
  HUNDRED_BLOCK = col_character(),
  NEIGHBOURHOOD = col_character(),
  X = col_double(),
  Y = col_double()
)

In [65]:
head(crime_data)

  TYPE                       YEAR MONTH DAY HOUR MINUTE HUNDRED_BLOCK
1 Break and Enter Commercial 2012 12    14   8   52     NA
2 Break and Enter Commercial 2019  3     7   2    6     10XX SITKA SQ
3 Break and Enter Commercial 2019  8    27   4   12     10XX ALBERNI ST
4 Break and Enter Commercial 2014  8     8   5   13     10XX ALBERNI ST
5 Break and Enter Commercial 2020  7    28  19   12     10XX ALBERNI ST
6 Break and Enter Commercial 2005 11    14   3    9     10XX ALBERNI ST
  NEIGHBOURHOOD X        Y
1 Oakridge      491285.0 5453433
2 Fairview      490613.0 5457110
3 West End      491007.8 5459174
4 West End      491015.9 5459166
5 West End      491015.9 5459166
6 West End      491021.4 5459161

group by the types of crime. since we are looking at the type of crime we have to focus on that and sort the data for that.....

In [107]:
crime_data_grouped <- crime_data %>%
            group_by(TYPE) %>%
            select(TYPE, HOUR) %>%
            data.frame()


crime_data_sort <- crime_data_grouped[ order( crime_data_grouped$HOUR), ] %>%
                select(TYPE, HOUR)%>%
                as.tibble()%>%
                filter(TYPE == "Vehicle Collision or Pedestrian Struck (with Injury)" | 
                       TYPE == "Vehicle Collision or Pedestrian Struck (with Fatality)"|
                       TYPE == "Homicide" | 
                       TYPE == "Offence Against a Person")
head(crime_data_sort)
tail(crime_data_sort)
cd_count <- crime_data_sort %>%
            group_by(TYPE) %>%
            summarize(count=n())
cd_count

  TYPE     HOUR
1 Homicide 0
2 Homicide 0
3 Homicide 0
4 Homicide 0
5 Homicide 0
6 Homicide 0

  TYPE                                                 HOUR
1 Vehicle Collision or Pedestrian Struck (with Injury) 23
2 Vehicle Collision or Pedestrian Struck (with Injury) 23
3 Vehicle Collision or Pedestrian Struck (with Injury) 23
4 Vehicle Collision or Pedestrian Struck (with Injury) 23
5 Vehicle Collision or Pedestrian Struck (with Injury) 23
6 Vehicle Collision or Pedestrian Struck (with Injury) 23

`summarise()` ungrouping output (override with `.groups` argument)

  TYPE                                                   count
1 Homicide                                                 274
2 Offence Against a Person                               66682
3 Vehicle Collision or Pedestrian Struck (with Fatality)   301
4 Vehicle Collision or Pedestrian Struck (with Injury)   26457

In [ ]:
upscale_recipe <- recipe 

upscale(
  f,
  coord,
  wavelet = "haar",
  wtrafo = "dwt",
  pad = mean(f),
  color.maps = FALSE
)